\begin{tabular}{l | l l l}
    \hline
    \multirow{2}{*}{function} & \multicolumn{3}{c}{vectorization method} \\
             & none & auto & manual \\
    \hline
    {\tt warmup} & :data[0] & :data[1] & :data[2] \\
    {\tt FIR}    & :data[3] & :data[4] & :data[5] \\
    \hline
\end{tabular}
