Maximize #slurp
#for $i in range($problem.n - 1):
${problem.c[i]} x$i + #slurp
#end for
${problem.c[-1]} x${problem.n - 1}
Subject To
#for $i in range($problem.n):
${problem.A[i,0]} x0 #slurp
    #for $j in range(1, $problem.n):
        #if $problem.A[i, j] >= 0:
+ #slurp
        #else
- #slurp
        #end if
${abs($problem.A[i, j])} x$j #slurp
    #end for
<= ${problem.b[i]}
#end for

#for $i in range($problem.n):
x$i >= 0
#end for
end
