Maximize
#for $i in range($problem.n-1):
${problem.c[i]} #slurp
#end for
${problem.c[-1]}
Subject To
#for $i in range($problem.n):
    #for $j in range($problem.n):
${problem.A[i, j]} #slurp
    #end for
<= ${problem.b[i]}
#end for
End